<div class="container">
    <div class="row">
      <div class="col-md-3">
        <h3>Upload Users</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12 col-md-12" *ngIf="errorMessage">
          <div class="alert alert-danger">
              <strong>Error!</strong> {{errorMessage}}
          </div>
      </div>
      <div class="col-lg-12 col-md-12" *ngIf="alertMessage">
          <div class="alert alert-info">
              <strong>Info</strong> {{alertMessage}}
          </div>
      </div>
    </div>
    <div class="row">       
        <div  class="col-lg-12 col-md-12" class="form-group">
             <div>
                <label for="password">Password</label>
                <input id="password" type="text" [(ngModel)]="password" />
            </div>
            <div>
                <label for="file">Choose File</label>
                <input type="file"
                        id="file"
                        (change)="handleFileInput($event.target.files)">
            </div>
            <button (click)="uploadUsers()">Upload</button>
        </div>
    </div>
</div>