<div class="row">
    <div class="alert alert-danger" *ngIf="errorMessage">
        <strong>Error!</strong> {{errorMessage}}
    </div>
    <div class="alert alert-success" *ngIf="successMessage">
        {{successMessage}}
    </div>
</div>
<div class="row comments-content">
    <div class="col-xs-12" *ngIf="canAddComment()">
        <a class="cmd-link pull-right cmd-add" (click)="addComment()">
                <strong>Leave Feedback</strong>
            </a>
    </div>
    <div class="col-xs-12" *ngIf="newComment">
        <div class="col-xs-12">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <textarea rows="3" style="width:100%; margin-top:3px; margin-bottom:3px;"
                          [maxlength]="250"
                          [(ngModel)]="newComment.content">
                </textarea>
            </div>
            <div class="col-xs-12">
                <label>
                    <input type="checkbox" style="margin-left: 10px;" [(ngModel)]="newComment.isAnonymous"> Anonymous
                </label>
            </div>
            <div class="col-xs-12">
                <label>
                    <input type="checkbox" style="margin-left: 10px;" [(ngModel)]="newComment.isPrivate"> Private
                </label>
            </div>
                    <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <a class="cmd-link add" (click)="saveComment()"
                            [ngClass]="{'not-active': !newComment.content || isSavingComment}">
                                <i class="fa fa-check fa-green"></i>
                            </a>
                        </div>
                        <div  class="col-lg-1 col-md-1 col-sm-1 col-xs-1">
                            <a class="cmd-link add" (click)="cancelCommentEdit()"
                            [ngClass]="{'not-active': isSavingComment}">
                                <i class="fa fa-close fa-red"></i>
                            </a>
                        </div>

        </div>
        <div class="col-xs-12">
            <img *ngIf="isSavingComment" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
    </div>
    <div class="comments-list" *ngIf="userComments && usersStatusMap" >
        <div class="col-xs-12 comment" *ngFor="let comment of userComments">

            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2 img-box">
                <img [src]="getUserStatus(comment)" class="small-status-img">
            </div>
            <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10">
                <div class="col-xs-12">
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8" style="padding:0px;">
                        <a *ngIf="!comment.isAnonymous" class="user" [routerLink]="['/profile', usersStatusMap[comment.fromUserId].id]">
                            {{usersStatusMap[comment.fromUserId].userName}}
                        </a>
                        <a *ngIf="comment.isAnonymous" class="user" style="cursor: none" >
                            Anonymous
                        </a>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-8 col-xs-8 pull-right">
                        <span class="time">{{comment.commentDate | amTimeAgo}}</span>
                    </div>
                </div>
                <div class="col-xs-12">
                    <div class="col-xs-12 comm-content"
                    [ngClass]="comm-positive">
                        <span>{{comment.content}}</span>
                    </div>
                    <a (click)="likeComment(comment)"
                        class="like"
                        [ngClass]="{'not-active': disableLike(comment)}">
                        <i class="fa fa-thumbs-up"> {{comment.likes.length}}</i>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xs-12" *ngIf="!isLoading() && !newComment && (!userComments || userComments.length == 0)">
            <span *ngIf="isPersonal" style="font-weight: bold;">Santa's Helpers are working on your messages :) </span>
            <span *ngIf="!isPersonal" style="font-weight: bold;">Leave a feedback and help your buddy become a Santa :) </span>
    </div>
    <div class="col-xs-12">
            <img *ngIf="isLoading()" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
</div>
