<div class="container">
  <h3>Manage Users</h3>
  <div class="col-lg-12 col-md-12" *ngIf="errorMessage">
      <div class="alert alert-danger">
          <strong>Error!</strong> {{errorMessage}}
      </div>
  </div>

  <div class="col-lg-8 col-md-8 col-sm-12" *ngIf="users">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>#</th>
          <th>UserName</th>
          <th>Email</th>
          <th>Password</th>
          <th>Is Secret Santa</th>
        </tr>
      </thead>
      <tbody class="table">
        <tr *ngFor="let user of users">
          <td>{{user.customId}}</td>
          <td>{{user.userName}}</td>
          <td>{{user.email}}</td>
          <td>******</td>
          <td>
            <i class="fa fa-check green" *ngIf="user.SecretSantaForId"></i>
            <i class="fa fa-close red" *ngIf="!user.SecretSantaForId"></i>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
