.centerd{
    margin: 0 auto;
    width: 30%;
}
.fa-red{
    color: #d3964c;
}
.count-down{
    font-family: sans-serif;
    font-size: 20px;
    text-align: center;
}
.bold{
    font-weight: bold;
}
.counter{
    background-color: #16243c;
    color: #fff;
}
.small-status-img{
    width: 50px;
    border-radius: 50%;
    margin: 2px;
    padding-left:5px;
}
.container{
    font-family: sans-serif !important;
    margin-top: 5px;
}
.panel-default>.panel-heading {
    color: #d9e2f3;
    background-color: #152036;
    border-color: #325679;
    font-weight: bold;
}
.item{
    border-bottom: 1px dotted #ccc;
}
.panel-body{
    padding: 2px !important;
    overflow-y: scroll;
    overflow-x: hidden;
    max-height: 500px;
}

.stats{
    margin-top: 15px;
}