<div class="box">
<div class="row-header">
<nav class="navbar" role="navigation">
    <div class="container">
      <div class="navbar-header" [ngClass]="{'navbar-large-header': !isLoggedIn}">
        <button type="button" class="navbar-toggle collapsed" *ngIf="isLoggedIn">
          <a class="cmd-link" (click)="toggleMenu()"><i class="fa fa-bars fa-2x"></i></a>
        </button>
        <div [ngClass]="{'center-block': !isLoggedIn}">
        <a class="navbar-brand" [routerLink]="['/dashboard']">
          <img class="brand-img" [ngClass]="{'large-brand-img': !isLoggedIn}" src="assets/images/logo.png">
        </a>
      </div>
      </div>
      <!-- Collect the nav links, forms, and other content for toggling -->
      <div class="collapse navbar-collapse" [ngClass]="{'in': isMenuOpen}" id="top-navbar-1">
        <ul class="nav navbar-nav navbar-right">
          <li class="active" *ngIf="isLoggedIn">
            <a [routerLink]="['/dashboard']" (click)="closeMenu()"><i class="fa fa-home"></i> Home</a>
          </li>
          <li *ngIf="isLoggedIn">
            <a [routerLink]="['/profile', userId]" (click)="closeMenu()"><i class="fa fa-user"></i> Profile</a>
            
          </li>
          <li *ngIf="isAdmin && isLoggedIn">
            <a  [routerLink]="['/admin']" (click)="closeMenu()">
              <i class="fa fa-gears"></i> Admin
            </a>
          </li>
          <li *ngIf="isLoggedIn">
            <a (click)="logout()" (click)="closeMenu()">
              <i class="fa fa-power-off"></i> Log out
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="slider-container hidden-xs hidden-sm" *ngIf="isLoggedIn">
      <div class="slider">
          <div class="flexslider">
            <img src="assets/images/banner.jpg">
          </div>
      </div>
  </div>
</div>
  <div class="content-container row-content">
      <div >
          <router-outlet></router-outlet>
      </div>
  </div>
</div>