<div>
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bax"></span>
          <span class="icon-bax"></span>
          <span class="icon-bax"></span>
        </button>
      </div>
      <div id="navbarCollapse" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a routerLink="/login">Login</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <div class="jumbotron">
    
  </div>
</div>
