<div>
 <div id="header" class="header">
   <div class="container">
     <div class="header__left">
       <ul class="navbar"  *ngIf="isLoggedIn">
          <li class="active"><a  [routerLink]="['/dashboard']">Home</a></li>
          <li><a [routerLink]="['/profile']">Profile</a></li>
          <li><a *ngIf="isAdmin" [routerLink]="['/admin']">Admin</a></li>
       </ul>
     </div>
     <div class="content-right">
      <div class="header__right navbar">
          <a class="nav" href="#" (click)="logout()" *ngIf="isLoggedIn">Log out</a>
      </div>
      <div class="header__right">
          <div class="header__logo">
            <img src="/assets/images/logo.png">  
          </div>
      </div>
     </div>
   </div>
 </div>
 <div class="container" style="float:left; margin-left: 193px;">
  <router-outlet></router-outlet>
</div>
</div>
